<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container mt-5">
    <div class="text-center mb-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <div class="profile-image-container">
                    <img src="https://i.imgur.com/wvxPV9S.png" alt="Profile Photo" class="profile-image">
                </div>
            </div>
            <div class="col-auto">
                <a th:href="@{/dataCO2}" type="button" class="btn btn-primary btn-lg action">Actions</a>
            </div>
        </div>


        <h1 class="mt-3">User Econet</h1>
    </div>
    <div class="button-container">
        <div class="d-flex justify-content-around mb-5">
            <a type="button" class="btn btn-primary btn-lg mr-3 ">Forum</a>
            <a type="button" class="btn btn-success btn-lg">Achievements</a>
        </div>
        <div class="d-flex justify-content-around mb-5">
            <a class="btn btn-info btn-lg mr-3">Education</a>
            <a type="button" class="btn btn-secondary btn-lg">Impact Maps</a>
        </div>
        <div class="d-flex justify-content-around mb-5">
            <a type="button" class="btn btn-primary btn-lg mr-3">Forums</a>
            <a type="button" class="btn btn-success btn-lg">Events</a>
        </div>
        <div class="d-flex justify-content-around mb-5">
            <a class="btn btn-info btn-lg mr-3">Challanges</a>
            <a type="button" class="btn btn-secondary btn-lg">Donations</a>
        </div>
    </div>
    <div class="wblock">
        <table>
            <tr class="trow">
                <td class="fd">Planet Climate Information</td>
                <td class="od">Global annual CO2 emissions and absorptions: 'Top-down CO₂ budgets from the OCO-2 MIP
                </td>
                <td class="od">Global methane concentrations: 'Atmospheric methane concentrations from NOAA's Global
                    Monitoring Laboratory
                </td>
                <td class="od">Global carbon flows: 'Terrestrial carbon flux from MiCASA.</td>
            </tr>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
